<div class="new-album col">
  <div class="row">
    <h5 class="mt-4">New Album</h5>
    <hr class="w-100">
  </div>
  <div class="form-new-album">
    <%= render partial: 'albums/form', locals: {album: @album} %>
  </div>
</div>


<script>
  function previewPhoto(input) {
  if (input.files && input.files[0]) {
    const reader = new FileReader();

    reader.onload = function (e) {
      const imagePhoto = document.createElement("img")
      imagePhoto.setAttribute("src", e.target.result)
      imagePhoto.setAttribute("width", "180")
      imagePhoto.setAttribute("height", "180")
      $('.new-album .preview-photo-upload .photo-upload-border img').last().remove()
      // $('.new-album .preview-photo-upload .photo-upload-border img').remove()
      $('.new-album .preview-photo-upload .photo-upload-border').last().prepend(imagePhoto)
    };
    reader.readAsDataURL(input.files[0]);
  }
}
</script>
