<div class="new-photo col">
  <div class="row">
    <h5 class="mt-4">Edit Photo</h5>
    <hr class="w-100">
  </div>
  <div class="form-new-photo">
    <%= render partial: 'photos/form', locals: {photo: @photo} %>
  </div>
</div>

<%= javascript_pack_tag 'photos' %>