.new-album {
  height: 1000px;
  background-color: #fff;

  .album-upload-border {
    width: 182px;
    height: 182px;
    background-color: #f2f2f2;
    border: 1px dashed #828282;
    position: relative;

    i {
      color: #828282;
      font-size: 100px;
      position: absolute;
      top: 45px;
      left: 45px;
    }

    a {
      &.add_fields {
        z-index: 200;
      }
    }

    .album-upload {
      width: 100%;
      height: 100%;
      position: absolute;
      cursor: pointer;
      opacity: 0;
      z-index: 100;
      top: 0px;
      left: 0px;
    }
  }

  .photo-upload-border {
    width: 182px;
    height: 182px;
    background-color: #f2f2f2;
    border: 1px dashed #828282;
    position: relative;

    img {
      &.existing-photos {
        width: 180px;
        height: 180px;
      }
    }

    i {
      color: #828282;
      font-size: 100px;
      position: absolute;
      top: 45px;
      left: 45px;
    }

    .photo-upload {
      width: 100%;
      height: 100%;
      position: absolute;
      cursor: pointer;
      opacity: 0;
      z-index: 100;
      top: 0px;
      left: 0px;
    }
  }
}
